---
import Container from "@/components/container";
import Layout from "./layout.astro";
import { Image } from "astro:assets";
import { Compass, Share2 } from "lucide-react";
---

<Layout
    subtitle="About project"
    description="OpenShorts is a platform where people can share and discover useful websites and online tools."
>
    <section class="flex flex-col items-center">
        <div class="flex flex-col items-center gap-8 w-fit">
            <Container
                className="flex md:flex-row flex-col items-start gap-6 max-w-2xl !py-6 !px-12 dark:bg-neutral-900 dark:border-neutral-700"
            >
                <Image
                    src="/favicon.png"
                    alt="About openshorts"
                    class=""
                    width={100}
                    height={100}
                    format="webp"
                    quality={50}
                />
                <div
                    class="flex flex-col gap-4 text-lg text-gray-700 dark:text-text-900"
                >
                    <p>
                        In an internet overflowing with content, finding that
                        perfect tool or hidden gem of a website can feel like
                        searching for a needle in a digital haystack. That's why
                        we built openshorts. We are a community-powered
                        discovery platform dedicated to unearthing and sharing
                        the most useful tools for creators, developers, and
                        makers.
                    </p>

                    <h2 class="text-2xl font-bold mt-4">Our Story</h2>
                    <p>
                        Openshorts was born from a simple frustration shared by
                        many: countless hours wasted sifting through generic
                        search results and paid ads to find quality, practical
                        online tools. As a solo developer, I knew there had to
                        be a better way. I envisioned a place curated by real
                        people with real expertise, a space where a developer
                        could share a new API, a designer could recommend a
                        brilliant color palette generator, and a video editor
                        could unearth the perfect royalty-free music site.
                    </p>

                    <h2 class="text-2xl font-bold mt-4">
                        Who is openshorts For?
                    </h2>
                    <p>
                        Openshorts is built for the builders, the makers, and
                        the innovators. Whether you're a <strong
                            >developer</strong
                        > hunting for a new library, a <strong>designer</strong>
                        in search of inspiration, a <strong>video editor</strong
                        > needing the right assets, or simply a <strong
                            >curious individual</strong
                        > who loves discovering the web's best-kept secrets, you've
                        found your community.
                    </p>

                    <h2 class="text-2xl font-bold mt-4">
                        More Than a Directory, It's a Community
                    </h2>
                    <p>
                        Our vision is for OpenShorts to be the go-to starting
                        point for any creative or technical project. We believe
                        the best recommendations come from people, not just
                        algorithms. By sharing your finds, liking valuable
                        tools, and commenting with your insights, you help build
                        a more valuable and authentic resource for everyone.
                        Explore what's new, share your own discoveries, and
                        let's build the web's best toolbox, together.
                    </p>
                </div>
            </Container>
            <div
                class="flex items-center gap-6 w-full md:flex-row flex-col mb-8"
            >
                <a
                    href="/"
                    class="bg-secondary-500 border-[1px] border-secondary-400 cursor-pointer hover:bg-secondary-600 rounded-md transition-colors text-white w-full px-6 py-4 flex items-center justify-center gap-2 text-2xl"
                >
                    <span
                        class="drop-shadow-[2px_2px_1px_rgba(0,0,0,.28)] flex items-center gap-2"
                    >
                        <Compass size={28} /> Discover
                    </span>
                </a>
                <p class="text-2xl">and</p>
                <a
                    href="/upload"
                    class="bg-accent-500 border-[1px] border-accent-400 cursor-pointer text-white hover:bg-accent-600 rounded-md transition-colors w-full px-6 py-4 flex items-center justify-center gap-2 text-2xl"
                >
                    <span
                        class="drop-shadow-[2px_2px_1px_rgba(0,0,0,.38)] flex items-center gap-2"
                    >
                        <Share2 /> Share
                    </span>
                </a>
            </div>
        </div>
    </section>
</Layout>
