---
import { Button } from "@/components/ui/button";
import Layout from "./layout.astro";
import {getPrismaInstance} from "@/lib/prisma"

// TODO: font https://fonts.google.com/specimen/Dongle
// const fetch = await getPrismaInstance().test.findMany()
// console.log(fetch)
---

<Layout subtitle="test">
    <h1 class="text-2xl font-bold">openshorts.</h1>
    <Button>Test button</Button>
</Layout>
