---
export const prerender = false;

import Layout from "./layout.astro";
import WebsiteBrowser from "@/components/website-browser";
import { searchWebsites } from "@/lib/websites.core";
import { debugLog } from "@/lib/log";
import type { User } from "better-auth";

console.time("init_search");
const websites = await searchWebsites({
    sorting: "new",
    headers: Astro.request.headers,
});

debugLog("INFO", "Session", Astro.locals.user);

const isWebsitesFetchFailed = websites.tags.length <= 0;
console.timeEnd("init_search");
---

<Layout>
    <main class="flex flex-col items-center gap-8">
        <div class="flex flex-col gap-2 items-start">
            {
                isWebsitesFetchFailed && (
                    <div class="bg-red-600 text-white px-4 py-2 fixed top-0 left-0 w-full z-10">
                        <p class="text-center">
                            Failed while connecting to the database, try again
                            later!
                        </p>
                    </div>
                )
            }
            <WebsiteBrowser
                entryWebsites={websites.websites}
                totalWebsites={websites.total}
                tags={websites.tags}
                currentUser={(Astro.locals.user as User) ?? undefined}
                client:idle
            />
        </div>
    </main>
</Layout>
