---
export const prerender = false;

import { Button } from "@/components/ui/button";
import Layout from "./layout.astro";
import { getPrismaInstance } from "@/lib/prisma";
import { PackageOpen } from "lucide-react";
import SkewedHighlight from "@/components/skewed-highlight";
import WebsiteBrowser from "@/components/website-browser";
import { searchWebsites } from "@/lib/websites.core";
import { debugLog } from "@/lib/log";
import type { categories } from "@prisma/client";

// TODO: font https://fonts.google.com/specimen/Dongle

const websites = await searchWebsites({});
---

<Layout subtitle="test">
    <main class="flex flex-col items-center gap-8">
        <div class="flex flex-col gap-2 items-start">
            <SkewedHighlight>
                <h2
                    class="text-xl font-semibold text-text-950 flex items-center gap-1"
                >
                    <PackageOpen /> Recently added
                </h2>
            </SkewedHighlight>
            <!-- <Container>
                <h2 class="text-xl font-semibold text-text-500 flex items-center gap-1"><PackageOpen /> Recently added</h2>
            </Container> -->
            <WebsiteBrowser
                entryWebsites={websites.websites}
                totalWebsites={websites.total}
                tags={websites.tags}
                client:idle
            />
        </div>
    </main>
</Layout>
