---
export const prerender = true;

import Layout from "./layout.astro";
import WebsiteBrowser from "@/components/website-browser";
import { debugLog } from "@/lib/log";
import type { User } from "better-auth";
import HeroSection from "@/components/home/hero-section.astro";
//import { actions } from "astro:actions";

console.time("init_search");
// const { data: websites, error } = await Astro.callAction(
//     actions.searchWebsites,
//     {
//         sorting: "new",
//         headers: Astro.request.headers,
//     },
// );

// const websites = await searchWebsites({
//     sorting: "new",
//     headers: Astro.request.headers,
// });

// if (!websites || error) {
//     debugLog("ERROR", "Websites fetch failed", error);
//     throw new Error("Failed to fetch websites");
// }

debugLog("INFO", "Session", Astro.locals.user);

//const isWebsitesFetchFailed = websites.tags.length <= 0;
console.timeEnd("init_search");
---

<Layout>
    <main class="flex flex-col items-center gap-8">
        <div class="flex flex-col gap-2 items-start">
            <HeroSection />
            <section id="browse">
                <WebsiteBrowser
                    currentUser={(Astro.locals.user as User) ?? undefined}
                    client:idle
                />
            </section>
        </div>
    </main>
</Layout>
