---
export const prerender = false;

import Layout from "./layout.astro";
import WebsiteBrowser from "@/components/website-browser";
import { searchWebsites } from "@/lib/websites.core";
import { debugLog } from "@/lib/log";
import type { User } from "better-auth";
import { getWebsitesRecommendation } from "@/lib/ai.core";

// TODO: font https://fonts.google.com/specimen/Dongle

const websites = await searchWebsites({
    sorting: "new",
    headers: Astro.request.headers,
});

debugLog("INFO", "Session", Astro.locals.user);

// const b = await getWebsitesRecommendation({
//     content: "free textures and free videos",
// });
// debugLog("SUCCESS", "ai:", b);
---

<Layout subtitle="Browse websites">
    <main class="flex flex-col items-center gap-8">
        <div class="flex flex-col gap-2 items-start">
            <WebsiteBrowser
                entryWebsites={websites.websites}
                totalWebsites={websites.total}
                tags={websites.tags}
                currentUser={(Astro.locals.user as User) ?? undefined}
                client:idle
            />
        </div>
    </main>
</Layout>
