---
export const prerender = true;

import Layout from "./layout.astro";
import HeroSection from "@/components/home/hero-section.astro";
import HomeWebsitesSection from "@/components/home/home-websites-section.astro";
import HomeAISection from "@/components/home/home-ai-section.astro";
import HomePromoSection from "@/components/home/home-promo-section.astro";
//import { actions } from "astro:actions";
---

<Layout>
    <main class="flex flex-col gap-8">
        <div class="flex flex-col gap-2 items-start">
            <HeroSection />
            <HomeWebsitesSection />
            <HomeAISection />
            <HomePromoSection />
        </div>
    </main>
</Layout>
