---
export const prerender = false;
import "../styles/global.css";
import { AnalyticsProvider } from "shibuitracker-client/client";
import { Font } from "astro:assets";
import Navbar from "@/components/navbar.astro";
import { Toaster } from "@/components/ui/sonner";
const { subtitle = "", class: className, ...props } = Astro.props;
import Background from "@/assets/bc.svg";
import { Dialog } from "easy-dialogs";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>🪄 openshorts {subtitle ? ` - ${subtitle}` : ""}</title>
        <Font cssVariable="--font" preload />
    </head>
    <body
        class:list={[
            "bg-background-950 !p-8 text-text-50 rounded-3xl flex flex-col gap-6 relative",
            className,
        ]}
        {...props}
    >
        <Dialog client:idle />
        <Background
            class={"fixed top-0 left-0 !w-full !h-full opacity-35 -z-10"}
        />
        <Toaster position="top-right" richColors client:visible />
        <Navbar />
        <AnalyticsProvider client:idle>
            <slot />
        </AnalyticsProvider>
    </body>
</html>
