---
import "../styles/global.css"
import {AnalyticsProvider} from "shibuitracker-client/client";
const { subtitle = "" } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>🪄 openshorts {subtitle ? ` - ${subtitle}` : ""}</title>
	</head>
	<body class="bg-background-950 p-8 text-text-50">
        <AnalyticsProvider client:load>
		    <slot />
        </AnalyticsProvider>
	</body>
</html>
