---
export const prerender = false;
import SignInProviders from "@/components/signin/signin-providers";
import Layout from "./layout.astro";
import Container from "@/components/container";
import { LogIn } from "lucide-react";
---

<Layout subtitle="Sign in">
    <section class="grid place-items-center md:gap-4 gap-8 my-6">
        <div class="text-center">
            <h2
                class="text-4xl font-semibold flex items-center gap-2 md:flex-row flex-col tracking-tight"
            >
                <LogIn className="text-primary-600" strokeWidth={3} size={32} />
                You are the <span class="font-black italic text-text-500"
                    >FOUNDATION</span
                > of this website
            </h2>
            <p class="text-xl">Join us right now and share your goodies!</p>
        </div>
        <div>
            <SignInProviders client:idle />
        </div>
    </section>
</Layout>
