---
export const prerender = false;
import UploadForm from "@/components/upload/upload-form";
import Layout from "./layout.astro";
import { auth } from "@/lib/auth";
import JoinUs from "../assets/join_us.svg";
import Container from "@/components/container";
import { Button } from "@/components/ui/button";
import { LogIn } from "lucide-react";

const currentUser = await auth.api.getSession({
    headers: Astro.request.headers,
});
---

<Layout subtitle="Upload website">
    <main class="flex flex-col items-center gap-8">
        {
            currentUser ? (
                <UploadForm client:idle />
            ) : (
                <Container className="bg-neutral-50 dark:bg-neutral-900 dark:border-neutral-700 dark:text-text-950 flex flex-col gap-8 items-center md:px-8 px-4 md:py-6 py-5">
                    <JoinUs
                        width={500}
                        height={350}
                        class={"md:max-w-fit max-w-3xs md:max-h-max max-h-48"}
                    />
                    <div class="text-center md:space-y-0 space-y-4">
                        <h1 class="text-3xl">
                            Join the <b class="text-primary-500">openshorts.</b>{" "}
                            Right now!
                        </h1>
                        <p class="text-neutral-800 dark:text-text-950 text-balance">
                            Share your goodies with others and explore what
                            others shared just for you!
                        </p>
                    </div>
                    <a href="/signin">
                        <Button
                            variant={"primary"}
                            className="!px-6 !py-6 text-xl"
                        >
                            <LogIn /> Sign in
                        </Button>
                    </a>
                </Container>
            )
        }
    </main>
</Layout>
