---
export const prerender = false;
import UploadForm from "@/components/upload/upload-form";
import Layout from "./layout.astro";
import SkewedHighlight from "@/components/skewed-highlight";
import { UploadCloud } from "lucide-react";
---

<Layout subtitle="Upload">
    <main class="flex flex-col items-center gap-8">
        <UploadForm client:idle />
    </main>
</Layout>
