---
import { ArrowRight, ChevronRight } from "lucide-react";
import { Button } from "../ui/button";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<section
    class="pb-48 md:px-48 px-12 pt-24 flex items-start justify-center w-full gap-2"
>
    <div class="space-y-4">
        <h1 class="text-5xl font-bold tracking-tighter">
            search fast, create <span
                class="text-text-500 font-extrabold underline decoration-4 decoration-text-500"
                >faster.</span
            >
        </h1>
        <p class="text-2xl max-w-3xl break-words text-balance">
            Try openshorts, a powerful search engine for websites with useful
            tools, assets and more websites that will help you find what you
            need quickly.
        </p>
        <a href="#browse"
            ><Button variant={"primary"} className="!px-8 text-xl !py-6 my-4"
                >Start browsing! <ArrowRight /></Button
            ></a
        >
    </div>

    <div class="relative md:block hidden">
        <div class="relative w-52 h-52">
            <LottieAnimation src="/search2.json" autoplay="visible" />
        </div>
        <div
            class="w-64 h-64 top-[10%] left-18 absolute inset-0 bg-gradient-to-r from-primary-500 to-primary-600 rounded-full opacity-100 -z-10"
        >
        </div>
    </div>
</section>
