---
import { ArrowDown, ChevronRight } from "lucide-react";
import { Button } from "../ui/button";
---

<section class="py-24 relative w-full">
    <div
        class="md:w-96 md:h-96 w-48 h-48 top-0 md:-right-20 right-0 absolute bg-primary-500/30 blur-3xl rounded-full opacity-100 -z-10"
    >
    </div>
    <div class="flex flex-col items-center md:gap-8 gap-6">
        <h2
            class="font-bold md:text-8xl text-5xl tracking-tighter md:leading-23 leading-10"
        >
            search fast <br />
            <span class="md:ml-18 sm:ml-8 ml-3"
                >create <span class="font-black italic text-primary-500"
                    >FASTER</span
                >.</span
            >
        </h2>
        <h1
            class="md:text-3xl text-xl md:max-w-xl max-w-xs text-center tracking-tight"
        >
            Directory of Free Developer Tools & UI Assets - <b
                >curated by creators.</b
            >
        </h1>
        <div class="flex items-center flex-wrap justify-center gap-4">
            <a href="/browse"
                ><Button
                    size="lg"
                    className="rounded-full text-lg font-normal py-6 !px-8 bg-primary-500 !text-white hover:bg-primary-400"
                    >Browse now! <ChevronRight /></Button
                ></a
            >
            <a href="#ai"
                ><Button
                    size="lg"
                    variant="ghost"
                    className="rounded-full text-lg font-normal py-6 px-8"
                    >Read more</Button
                ></a
            >
        </div>
    </div>
    <div
        class="md:w-128 md:h-128 w-82 h-82 md:-bottom-[80%] md:opacity-100 opacity-25 bottom-10 -left-30 absolute bg-primary-500/30 blur-3xl rounded-full -z-10"
    >
    </div>
</section>
