---
export const prerender = true;
import { Button } from "../ui/button";
import HomeWebsitesBox from "./components/home-websites-box";

import { prisma } from "@/lib/prisma";

const websitesIcons = await prisma.websites.findMany({
    select: {
        url: true,
    },
    take: 36,
});
---

<section class="md:mt-36 mt-8 relative w-full">
    <div
        class="flex flex-wrap items-center justify-between md:gap-10 gap-4 py-18"
    >
        <HomeWebsitesBox
            icons={websitesIcons.map((p) => {
                return { url: p.url };
            })}
        />

        <div class="flex flex-col gap-8 items-start md:px-0 px-4">
            <h2
                class="md:text-6xl text-4xl max-w-4xl font-extrabold tracking-tighter"
            >
                Browse through <span class="text-primary-500">250+</span> websites
                uploaded by our community.
            </h2>
            <p class="text-2xl max-w-lg">
                and contribute to our growing community with YOUR finds.
            </p>
            <a href="/upload">
                <Button
                    size="lg"
                    className="rounded-full text-lg font-normal py-6 px-8"
                    >Contribute now!</Button
                >
            </a>
        </div>
    </div>
</section>
