---
import { Compass, LogIn, Upload, UploadCloud, User } from "lucide-react";
import Logo from "./logo.astro";
---

<nav class="w-full flex items-center justify-center p-4">
    <div class="flex flex-col items-center gap-4">
        <Logo />
        <div class="flex items-center justify-center gap-8 p-3">
            <a
                href="/"
                class="flex flex-col items-center cursor-pointer text-xl hover:text-text-500 transition-colors"
            >
                <Compass size={32} /> Browse
            </a>

            <a
                href="/upload"
                class="flex flex-col items-center cursor-pointer text-xl hover:text-text-500 transition-colors"
            >
                <UploadCloud size={32} /> Upload
            </a>

            {
                Astro.locals.user ? (
                    <a
                        href="/profile"
                        class="flex flex-col items-center cursor-pointer text-xl hover:text-text-500 transition-colors"
                    >
                        <User size={32} /> Account
                    </a>
                ) : (
                    <a
                        href="/signin"
                        class="flex flex-col items-center cursor-pointer text-xl hover:text-text-500 transition-colors"
                    >
                        <LogIn size={32} /> Sign In
                    </a>
                )
            }
        </div>
    </div>
</nav>
