---
export const prerender = false;
import {
    ArrowRight,
    ChevronRight,
    Search,
    LoaderCircle,
    Menu,
    Newspaper,
    Upload,
    LogIn,
    X,
    Home,
} from "lucide-react";
import Logo from "./logo.astro";
import NavigationState from "./navigation-state.astro";
import { cn } from "@/lib/utils";
import NavbarLink from "./navbar-link.astro";

// TODO: make the navbar dissapear when scrolling down but appear on scroll to the top or when hovering the top of the page
---

<nav
    class="w-full flex items-center justify-between sticky top-12 z-100"
    transition:name="navbar"
>
    <a href="/">
        <Logo className="" />
    </a>
    <input id="navbar-toggle" type="checkbox" class="peer sr-only" />

    <label
        for="navbar-toggle"
        class="block xl:!hidden cursor-pointer peer-checked:hidden"
    >
        <Menu size={48} className="!text-text-50 dark:!text-white" />
    </label>

    <label
        for="navbar-toggle"
        class="hidden xl:!hidden cursor-pointer peer-checked:block"
    >
        <X size={48} className="!text-text-50 dark:!text-white" />
    </label>

    <div
        class={cn(
            "xl:flex hidden xl:flex-row flex-col xl:relative items-center justify-center xl:gap-8 gap-0 !font-extrabold tracking-tight text-2xl",
            "peer-checked:flex peer-checked:absolute peer-checked:w-full peer-checked:top-20 peer-checked:left-0 !z-[1050] peer-checked:bg-neutral-50 dark:peer-checked:bg-neutral-800 peer-checked:rounded-md peer-checked:border-1 peer-checked:border-neutral-300 dark:peer-checked:border-neutral-700 peer-checked:overflow-hidden",
        )}
    >
        <NavbarLink url={"/"}>
            <Home size={32} strokeWidth={3} /> Home
        </NavbarLink>

        <NavbarLink url={"/browse"}>
            <Search size={32} strokeWidth={3} /> Browse
        </NavbarLink>

        <NavbarLink url={"/upload"}>
            <Upload size={32} strokeWidth={3} /> Upload
        </NavbarLink>

        <NavbarLink url={"/blog"}>
            <Newspaper size={32} strokeWidth={3} /> Blog
        </NavbarLink>

        <NavbarLink url={"/signin"}>
            <LogIn size={32} strokeWidth={3} /> Sign in
        </NavbarLink>
    </div>
</nav>

<!-- <nav class="w-full flex items-center justify-center" transition:name="navbar">
    <div class="flex items-start gap-12 justify-between w-full px-12">
        <div class="flex flex-col justify-center items-center gap-4">
            <a href="/">
                <Logo className="" />
            </a>
        </div>
        <div class="relative">
            <input id="navbar-toggle" type="checkbox" class="peer sr-only" />

            <label
                for="navbar-toggle"
                class="block xl:!hidden cursor-pointer peer-checked:hidden"
            >
                <Menu size={48} className="!text-text-50 dark:!text-white" />
            </label>

            <label
                for="navbar-toggle"
                class="hidden xl:!hidden cursor-pointer peer-checked:block"
            >
                <X size={48} className="!text-text-50 dark:!text-white" />
            </label>
            <div
                class={cn(
                    "xl:flex items-center justify-center gap-6 bg-white z-[1000] dark:bg-neutral-800 dark:text-text-950 sm:!px-12 !px-6 py-6 border-[1px] border-background-800 dark:border-neutral-700",
                    "xl:flex-row flex-col xl:rounded-full rounded-md absolute xl:relative right-0",
                    "hidden peer-checked:flex",
                )}
            >
                <a
                    href="/"
                    class:list={[
                        "flex gap-2 xl:p-2 p-4 px-8 items-center cursor-pointer sm:text-xl text-sm hover:text-text-500 focus:text-text-600 transition-colors",
                        url.pathname === "/"
                            ? "text-text-400 dark:text-text-600 font-bold"
                            : "",
                    ]}
                >
                    <Compass size={32} /> Browse
                </a>

                <a
                    href="/upload"
                    class:list={[
                        "flex gap-2 xl:p-2 p-4 px-8 items-center cursor-pointer sm:text-xl text-sm hover:text-text-500 focus:text-text-600 transition-colors",
                        url.pathname === "/upload"
                            ? "text-text-400 dark:text-text-600 font-bold"
                            : "",
                    ]}
                >
                    <UploadCloud size={32} /> Upload
                </a>

                <a
                    href="/blog"
                    class:list={[
                        "flex gap-2 xl:p-2 p-4 px-8 items-center cursor-pointer sm:text-xl text-sm hover:text-text-500 focus:text-text-600 transition-colors",
                        url.pathname.includes("/blog")
                            ? "text-text-400 dark:text-text-600 font-bold"
                            : "",
                    ]}
                >
                    <Newspaper size={32} /> Blog
                </a>

                {
                    Astro.isPrerendered ? (
                        <NavigationState server:defer slot="auth">
                            <a
                                slot="fallback"
                                href="/signin"
                                class:list={[
                                    "flex gap-2 xl:p-2 p-4 px-8 items-center cursor-pointer sm:text-xl text-sm hover:text-text-500 focus:text-text-600 transition-colors text-center grayscale-100 pointer-events-none opacity-70",
                                    url.pathname === "/signin"
                                        ? "!text-text-400 dark:text-text-600 font-bold"
                                        : "",
                                ]}
                            >
                                <LoaderCircle
                                    size={32}
                                    className="animate-spin"
                                />{" "}
                                Loading...
                            </a>
                        </NavigationState>
                    ) : (
                        <NavigationState />
                    )
                }
            </div>
        </div>
    </div>
</nav> -->
