---
import { LogIn, User } from "lucide-react";
import NavbarLink from "./navbar-link.astro";
import ResponsiveImage from "./responsive-image";
---

{
    Astro.locals.user ? (
        <>
            <div class="relative lg:block hidden">
                <input
                    id="usermenu-toggle"
                    type="checkbox"
                    class="peer sr-only"
                />
                <label for="usermenu-toggle">
                    <ResponsiveImage
                        src={Astro.locals.user.image}
                        alt="User avatar"
                        width={64}
                        height={64}
                        className="rounded-full cursor-pointer select-none"
                        client:idle
                    />
                </label>

                <div class="absolute top-[110%] left-[50%] translate-x-[-50%] bg-white dark:bg-neutral-900 w-48 flex-col gap-2 rounded-md border-1 border-neutral-300 dark:border-neutral-700 py-2 peer-checked:flex hidden">
                    <NavbarLink url={"/profile"} className="!w-full">
                        <User size={32} strokeWidth={3} /> Profile
                    </NavbarLink>
                    <NavbarLink url={"/signout"} className="!w-full">
                        <LogIn size={32} strokeWidth={3} /> Sign out
                    </NavbarLink>
                </div>
            </div>

            <span class="lg:hidden block !w-full">
                <NavbarLink url={"/profile"}>
                    <User size={32} strokeWidth={3} /> Profile
                </NavbarLink>
                <NavbarLink url={"/signout"}>
                    <LogIn size={32} strokeWidth={3} /> Sign out
                </NavbarLink>
            </span>
        </>
    ) : (
        // </a>
        <NavbarLink url={"/signin"}>
            <LogIn size={32} strokeWidth={3} /> Sign in
        </NavbarLink>
    )
}
